html {
   height: 100%;
}

body {
   overflow-x: hidden;
   overflow-y: auto;
   margin: 0;
   min-height: 100vh;
   background: #000;
}

.browsehappy {
   display: none;
   margin: 0;
}

.browsehappy.is-visible {
   display: block;
}

#environment {
   position: relative;
   min-height: 100vh;
   overflow: hidden;
   width: 100vw;
   left: 0;
}

#irix-boot {
   position: absolute;
   background: #6ba1d8;
   z-index: 60000;
   margin-left: 10px;
   margin-top: 10px;
   width: 1124px;
   height: 850px;
}

.view-cover {
   height: 100%;
   width: 100%;
   position: fixed;
   background: black;
   opacity: 0.5;
}

#intro {
   height: 100%;
   width: 100%;
   position: absolute;
   display: none;
   z-index: 60000;
}

#intro-scene {
   display: block;
}

#intro-box {
   position: fixed;
   top: 180px;
   left: 280px;
   background: black;
   padding: 20px;
}

#intro-text {
   width: 450px;
   color: #cdcdcd;
   font-family: Helvetica;
   font-size: 15px;
   margin-top: 17px;
   display: inline-block;
}

#intro-divider {
   height: 50px;
   margin-left: 10px;
   margin-right: 10px;
   display: inline-block;
   border-left: solid 1px #777777;
}

#continue-button {
   display: inline-block;
   margin-top: 20px;
}

#continue-button:hover {
   cursor: pointer;
}

#boot-dialogue {
   position: absolute;
   margin: auto;
   top: 200px;
   left: 0;
   right: 0;
}

#home-key {
   position: fixed;
   bottom: 10px;
   right: 10px;
   opacity: 0.7;
}

#home-key:hover {
   opacity: 1;
}

#command-help {
   width: 300px;
   position: absolute;
   bottom: 150px;
   right: 20px;
   z-index: 62000;
   color: white;
}

#commands-title {
   opacity: 0.7;
}

#command-help .highlighted {
   background: #444;
}

#command-help td {
   border: solid 1px #444;
   padding: 5px;
}

#irix-desktop,
#apple-desktop {
   position: absolute;
   top: 0;
   width: 100vw;
   min-height: 100vh;
   padding: clamp(10px, 2vw, 40px);
   box-sizing: border-box;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   overflow: hidden;
}

#irix-desktop {
   left: 0;
   background-image: url("../img/irixBackground.jpg");
}

#apple-desktop {
   left: -3200px;
   background-image: url("../img/appleBackground.jpg");
   border-radius: 10px;
}

#main-terminal {
   height: 582px;
   width: 815px;
   margin: auto;
   padding-top: 31px;
   padding-left: 30px;
   background-image: url("../img/mainTerm.jpg");
   background-repeat: no-repeat;
   position: absolute;
   top: clamp(80px, 14vh, 140px);
   left: clamp(40px, 12vw, 160px);
}

#main-terminal .inner-wrap {
   height: 570px;
   width: 800px;
   overflow: hidden;
}

.irix-window a {
   color: #cccccc;
}

.irix-window,
.mac-window {
   position: relative;
}

.window-bar {
   position: absolute;
   top: 0;
   left: 0;
   height: 30px;
   width: 100%;
}

.dragging {
   cursor: move;
}

.command-history, .command-input, .entered-command {
   white-space: pre;
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
}

#chess-terminal {
   background-image: url("../img/chessTerm.jpg");
   background-repeat: no-repeat;
   padding-top: 31px;
   padding-left: 30px;
   height: 215px;
   width: 820px;
   position: absolute;
   top: clamp(440px, 56vh, 600px);
   left: clamp(10px, 3vw, 40px);
}

#chess-terminal .inner-wrap {
   height: 207px;
   width: 805px;
   overflow: hidden;
}

#zebra-girl {
   height: 760px;
   width: 662px;
   position: absolute;
   display: none;
   right: clamp(10px, 5vw, 40px);
   top: clamp(20px, 8vh, 60px);
   background-image: url("../img/zebraGirlWindow.jpg");
}

.terminal-view {
   font-family: 'Courier';
   font-weight: 700;
   font-size: 15px;
   color: #CCCCCC;
   word-wrap: break-word;
}

.terminal-input {
   width: 100%;
}

#gr-osview {
   background-image: url("../img/grOsview.gif");
   background-repeat: no-repeat;
   height: 369px;
   width: 393px;
   position: absolute;
   top: clamp(160px, 20vh, 220px);
   left: clamp(20px, 8vw, 70px);
}

#the-king-window {
   display: none;
   background-image: url("../img/theKingFocus.jpg");
   background-repeat: no-repeat;
   width: 600px;
   height: 620px;
   position: absolute;
   left: clamp(30px, 7vw, 90px);
   top: clamp(80px, 16vh, 150px);
   text-align: center;
}

#the-king-video {
  margin-top: 40px;
  width: 100%;
  max-width: 540px;
  height: auto;
}

#the-king-blur {
   background-image: url("../img/theKingBlur.jpg");
   width: 600px;
   height: 620px;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   display: none;
}

#king-animation {
   margin: 50px;
   z-index: 50000;
}

#king-swf {
   z-index: 64000;
}

#mac-hd-window {
   width: 556px;
   height: 566px;
   background-image: url("../img/macHDFocus.jpg");
   background-repeat: no-repeat;
   position: absolute;
   left: clamp(15px, 4vw, 90px);
   top: clamp(60px, 14vh, 120px);
}

.buffer {
   position: absolute;
   left: -10000px;
   top: -10000px;
}

.hide {
   display: none;
}

.cursor {
   font-size: 15px;
   border: solid 1px #5fde5f;
}

.active-cursor {
   background: #5fde5f;
}

table td, table tr {
   padding: 0px;
   text-align: left;
   line-height: 15px;
}

#chess-terminal table td, #chess-terminal table tr {
   padding-left: 5px;
   padding-right: 5px;
   line-height: 13px;
   width: 50px;
}

#system-output td{
   width: 185px;
}

input[type="button"], button {
   border: 0;
   font: inherit;
   box-sizing: content-box;
}

input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

:focus-visible {
   outline: 2px solid #5fde5f;
   outline-offset: 2px;
}

.button {
   background-image:url("../img/buttonOverlay.png");
   border-radius:5px;
   cursor:pointer;
   display:inline-block;
   line-height:1;
   overflow:visible;
   position:relative;
   text-decoration:none;
   width:auto;
   text-align:center;
   background-color:#FFFFFF;
   border:1px solid #CCCCCC;
   color:#666666 !important;
   font-weight:normal;
   font-size:14px;
   font-family: 'Arial';
   text-shadow:0 1px 1px #FFFFFF;
   padding:7px 16px;
}
