html {
   height: 100%;
}

body {
   overflow-x: hidden;
   overflow-y: auto;
   margin: 0;
   min-height: 100vh;
   background: #000;
}

#environment {
   position: relative;
}

#home-key {
   position: fixed;
   bottom: 10px;
   right: 10px;
   opacity: 0.7;
}

#home-key:hover {
   opacity: 1;
}

#apple-desktop {
   position: relative;
   width: 100vw;
   min-height: 100vh;
   padding: clamp(10px, 2vw, 40px);
   box-sizing: border-box;
   background-image: url("../img/appleBackground.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 10px;
   overflow: hidden;
}

#the-king-window {
   display: none;
   background-image: url("../img/theKingFocus.jpg");
   background-repeat: no-repeat;
   width: 600px;
   height: 620px;
   position: absolute;
   left: clamp(30px, 7vw, 90px);
   top: clamp(80px, 16vh, 150px);
   text-align: center;
}

#the-king-video {
  margin-top: 40px;
  width: 100%;
  max-width: 540px;
  height: auto;
}

#the-king-blur {
   background-image: url("../img/theKingBlur.jpg");
   width: 600px;
   height: 620px;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

#king-animation {
   margin: 50px;
   z-index: 50000;
}

#king-swf {
   z-index: 64000;
}

#mac-hd-window {
   width: 556px;
   height: 566px;
   background-image: url("../img/macHDFocus.jpg");
   background-repeat: no-repeat;
   position: absolute;
   left: clamp(15px, 5vw, 120px);
   top: clamp(80px, 12vh, 160px);
}

.mac-window {
   position: relative;
}

.window-bar {
   position: absolute;
   top: 0;
   left: 0;
   height: 30px;
   width: 100%;
   z-index: 1000;
}

.dragging {
   cursor: move;
}
